.App {
  font-family: sans-serif;
  text-align: center;
}
.slot {
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 50%;
  margin: 5px;
}
.column {
  display: inline-block;
}
.board {
  background-color: blue;
  display: inline-block;
}
.red {
  background-color: red;
}
.yellow {
  background-color: yellow;
}
